:root{
    --white-color: #FBFBFB;
    --main-bg-color: #47ADFF;
    --secondary-bg-color: #ACDAFF;
    --pink-color: #FF79C0;
    --main-txt-color: #184F7B;
    --secondary-txt-color: #999999;
    --light-blue-color: #F5F9FF;
    --blue-stroke: #ACDAFF;
}

body{
    background-color: #FF79C0;
    font-family: Inter;
    display: flex;
    justify-content: center; 
}

.main{
    height: 710px;
    width: 390px;
    background-color: var(--main-bg-color);
    border-radius: 20px;
}

.profile_inner{
    padding-top: 48px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 28px;
    color: var(--white-color);
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: space-between;

}
.content_inner{
    height: 598px;
    width: calc(100% - 19px);
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: bottom;
    border-radius: 20px;
    padding-left: 20px;

}

.content_alerts{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 30px;
}

.content_title{
    font-size: 20px;
    font-weight: 600;
    color: var(--main-txt-color);
   
}

.alerts_cards{
    display: flex;
    gap: 10px;
}

.alert_card{
    background-color: var(--pink-color);
    border-radius: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    width: 146px;
    height: 83px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.alert_card_top{
    font-size: 14px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.alert_name{
    font-weight:500;
    font-size: 16px;
    color: #FFFFFF;
}

.alert_description{
    font-weight:500;
    font-size: 14px;
    color: #FFC5E4;
}

.content_tasks{
    padding-top: 20px;
}

.tasks_cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 20px;
    padding-top: 10px;
}

.task_card{
    width: auto;
    background-color: var(--light-blue-color);
    border-radius: 10px;
    border: var(--blue-stroke) 1px solid;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.task_date{
    color: var(--main-bg-color);
    font-size: 12px;
    

}

.task_middle_content{
    display: flex;
    justify-content: space-between;
 
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-bg-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--secondary-bg-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--secondary-bg-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    }

.slider.round {
    border-radius: 15px;
}

.slider.round:before {
    border-radius: 50%;
}

.task_name{
    font-size: 16px;
    font-weight: 500;
    color: var(--main-txt-color);
}
.task_description{
    font-size: 14px;
    color:var(--secondary-txt-color);
}

.nav_buttons{
    width: 370px;
    position: fixed;
    z-index: 2;
    padding-top: 20px;
    margin-top: 500px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    background-color: var(--white-color);
    justify-content: center;
}

.trash{
    width: 55px;
    height: 55px;
    border-radius: 100px;
    border: var(--blue-stroke) solid 1px;
    background-color: #F5F9FF;

}

.plus{
    width: 55px;
    height: 55px;
    border-radius: 100px;
    background-color:var(--pink-color);
    border: none;

}

.change{
    width: 55px;
    height: 55px;
    border-radius: 100px;
    border: var(--blue-stroke) solid 1px;
    background-color: #F5F9FF;
}

.add{
    position: fixed;
    z-index: 5;
    height: 673px;
    width: 350px;
    background-color: var(--white-color);
    border-radius: 20px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


/* календарь */

.look-calendar {
    color:var(--main-txt-color);
    width:300px;
    padding-top: 12px;
    padding-left: 25px;
    padding-right: 25px;
        
  }
  #calendar {
    width: 100%;
    line-height: 2em;
    font-size: 14px;
    text-align: center;
    border-spacing:0px;
  }
  #calendar tr.dn td {
    font-size: 14px;
    font-weight: 500;

  }
 
  
  #calendar thead tr:nth-child(1) td:nth-child(1):hover,
  #calendar thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
  }
  #calendar thead tr:nth-child(1) td:nth-child(2) {
    font-weight: bold;
  }
  #calendar tbody td.today {
    background-color: var(--pink-color);
    width:32.55px;
    height: 33.55px;
    color: #fff;
    border-radius: 10px;
  }
/* формы */

.add_inner{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.task{
    height: 256px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #526D83;
    font-size: 14px;
}

.task_title{
    height: calc(100%-40px);
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 16px;
    border-radius: 10px;
    border: var(--blue-stroke) solid 1px;
    background-color: var(--light-blue-color);

}

.task_txt{
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 16px;
    border-radius: 10px;
    border: var(--blue-stroke) solid 1px;
    background-color: var(--light-blue-color);

}

.add_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47px;
    width: 100%;
    background-color: var(--main-bg-color);
    font-size: 20px;
    font-weight: 500;
    color: var(--white-color);
    border: none;
    border-radius: 30px;
  
}

.add_alert{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add_alert_title{
    display: flex;
    justify-content: space-between;
}

.add_alert_timer{
    display: flex;
    align-items: center;
}

.timer_colon{
    padding-left: 10px;
    padding-right: 10px;
    color: #526D83;
    font-size: 14px;
    font-weight: 500;
}

.alert_hours, .alert_minutes{
    display: flex;
    width: 100%;
    height: 29px;
    border-radius: 4px;
    border: #E5E7F0 solid 1px;
    font-size: 14px;
    color: #526D83;
}

.alert_hours:hover, .alert_minutes:hover{
    box-shadow: 0px 0px 0px 3px rgba(32, 162, 232, 0.2);
    border: var(--main-bg-color) solid 1px;
    color: #526D83;
}

